html {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0 0 32px;
    height: 88%;
}

main {
    position: relative;
    margin-left: 20px;
    padding-bottom: 90px;
}

main.headset {
    background-color: aliceblue;
    text-decoration: peachpuff;
}

header {
    background-color: peachpuff;
}

header h1 {
    margin: 120px 0;
    background-color: coral;
    text-align: center;
    font-size: 3.4rem;
    color: aliceblue;
    user-select: none;
}

nav {
    margin: 50px 0;
    background-color: coral;
}

nav a {
    display: inline-block;
    color: black;
    padding: 12px 12px;
    background-color: beige;
    margin: 10px 10px;
    text-decoration: none;
}

nav a:hover {
    background-color: #555;
    color: white;
}

#display-accounts th {
    background-color: #f2f2f2;
}

#display-accounts tr td {
    padding: 15px;
    text-align: left;
}

button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: beige;
    color: black;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out,
    transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus {
    background: #a6a4a2;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}

select {
    display: inline-block;
    width: 16%;
    font-size: 20px;
    font-weight: 200;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}

label {
    display: inline-block;
    font-weight: 200;
    font-size: 24px;
    padding: 12px;
}

input {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .5);
    width: 24%;
    font-weight: 200;
    font-size: 20px;
    padding-left: 6px;
    outline: none;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

footer {
}

.stickToBottom {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-top: 1vh;
    background-color: lightgray;
    border: 1px solid #717177;
    font-size: .8rem;
    text-align: right;
    padding: 2px;
    margin-right: 8px;
}
