<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width" name="viewport">
    <title th:text="'My Accounts - ' + ${name}"></title>
    <link href="styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>

<header>
    <h1>My Home Bank</h1>
</header>

<nav>
    <a href="/">Home</a>
    <a href="/accounts">My Accounts</a>
</nav>

<main>

    <section>
        <div th:if="${name}=='User'">
            <p> Hello <b>stranger</b>! you can try login as <a href="/accounts?name=Cicero">Cicero</a>
                to get a better user experience</p>
        </div>
        <div th:if="${name}!='User'">
            <p id="login-user" th:text="'Hello, ' + ${name} + '!'"/>
        </div>
    </section>

    <section>
        <h3>Overview</h3>
        <p>All your accounts</p>
        <table id="display-accounts">
            <thead>
            <th>Account</th>
            <th>Type</th>
            <th>Amount</th>
            <th>Currency</th>
            </thead>
            <tbody>
            <tr th:if="${accounts.empty}">
                <td colspan="4" style="color:darkred; justify-content: center"> No Accounts Available!</td>
            </tr>

            <tr th:each="accountr : ${accounts}">
                <td><span th:text="${accountr.iban}"> Title </span></td>
                <td><span th:text="${accountr.type}"> Type </span></td>
                <td><span th:text="${accountr.amount}"> Amount </span></td>
                <td><span th:text="${accountr.currency}"> currency </span></td>
            </tr>

            </tbody>
        </table>

    </section>

    <p class="headset">These are hard times. It does not hurt to do some savings. To make it easier for you
        <emphasis>now</emphasis>
        you can create a savings account here, in the comfort of your personal bank! Try it out! <strong>0
            costs</strong>,
        maximum benefit!
    </p>

    <button id="activateForm" onclick="activateForm();">Create Savings Account!</button>

    <section id="newAccount">
        <h1>Create New Savings account</h1>

        <form action="#" method="post" th:action="@{/accounts}" th:object="${account}">

            <label for="currency">Choose currency: </label>
            <select id="currency" th:field="*{currency}">
                <option selected="selected" value="RON"><strong>RON</strong></option>
                <option value="EUR">&euro; Euro</option>
                <option value="USD">&#36; US Dollar</option>
                <option value="GBP">&#163; Liră sterlină</option>
            </select>

            <label for="amount">Amount: </label>
            <input id="amount" max="99999" min="1" placeholder="5" th:field="*{amount}" type="number"/>

            <label for="starting">Starting date:</label>
            <input id="starting" min="01-01-1977" onfocus="(this.type='date')"
                   placeholder="01-01-1977" th:field="*{startingWith}" type="text">

            <label for="occurrences">Choose frequency: </label>
            <select id="occurrences" th:field="*{frequency}">
                <option selected="selected" value="MONTHLY"><strong>Monthly</strong></option>
                <option value="WEEKLY">Weekly</option>
                <option value="BI_WEEKLY">Bi-Weekly</option>
            </select>
            <br/>
            <input type="submit" value="Submit"/> <input type="reset" value="Reset"/>
        </form>
    </section>

    <p class="stickToBottom" id="localDateTime"></p>
</main>

<footer>
    <script crossorigin="anonymous"
            integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ="
            src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="script.js" type="text/javascript"></script>
</footer>

</body>
</html>
