<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width" name="viewport">
    <title>Bank App - Account for ${name}</title>
    <link href="styles.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>

<header>
    <h1>My Home Bank</h1>
</header>

<nav>
    <a href="/">Home</a>
    <a href="/accounts">My Accounts</a>
</nav>

<main>

    <section th:object="${account}">
        <p th:text="'Savings account was created!'"/>
        <ol>
            <li>Account currency: <span th:text="${account.currency}"></span></li>
            <li>Amount: <span th:text="${account.amount}"></span></li>
            <li>Account type: <span th:text="${account.type}"></span></li>
            <li>Savings startDate: <span th:text="${account.startingWith}"></span></li>
            <li>Amount substation frequency: <span th:text="${account.frequency}"></span></li>
        </ol>
    </section>

</main>
<footer>
    <p class="stickToBottom" id="localDateTime"></p>
    <script crossorigin="anonymous"
            integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ="
            src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="script.js" type="text/javascript"></script>
</footer>
</body>
</html>
